body {
    font:12px/1.4 Arial, sans-serif;
    background-color:black;
    color:white;
    width:600px;
    margin:0 auto;
}

#activityFeed {
    width:300px;
}

#activityFeed ol {
    margin:0;
    padding:0;
    list-style:none;
}

#activityFeed li {
    display: block;
    margin-bottom:3px;
    color:#fff;
    background:#323232;
    padding: 8px;
    padding-top:1px;    /* why is this so weird? more padding on top then elsewhere... */
    border-radius:10px;
}

#activityFeed li:hover { background:#444; }

#activityFeed .icon { float:left; position:relative; margin-right:6px; }

#activityFeed a { color:#4AC0FF; z-index:1; }
#activityFeed a.clickable { display:block; position:absolute; width:100%; height:100%; margin:0px; }
